name: Test Compression
on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Build Test
    runs-on: ubuntu-latest
    steps:
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y-%m-%dT%H:%M:%S')"
    - uses: actions/checkout@v2
    - name: NPM install
      run: |
        pwd
        npm install
    - uses: tanuj077/cache@main
      id: cache
      with:
        path: ${{ github.workspace }}/node_modules
        key: hard-code-new123
        restore-keys: not-present
        skip-restore: 'yes'
        skip-save: 'no'
