name: Test Compression
on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Build Test
    runs-on: ubuntu-latest
    steps:
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y-%m-%dT%H:%M:%S')"
    - uses: actions/checkout@v2
    - name: NPM install
      run: |
        pwd
        npm install
    - uses: actions/cache@kotewar/poc
      id: cache
      with:
        path: ${{ github.workspace }}/node_modules
        key: ${{ steps.date.outputs.date }} 
        restore-keys: ${{ steps.date.outputs.date }}
        skip-save: true
